*,
::before,
::after {
  box-sizing: border-box;
}

 :root {
 /* charcoal   #36454F */
/* gunmetal #818589	; */
    --primary: #36454F;
    --secondary: #EBEBEB;
    --tertiary:#D58A94;
    --quaternary:#ffffff;
     --quinary:#AFB1BD;
     --senary:black;
} 



main {
    margin:auto;
	/* Reflect the paper width in the screen rendering (must match size from @page rule) */
	width: 21cm;
	/* Reflect the paper height in the screen rendering (must match size from @page rule) */
	min-height: 29.7cm;
    max-height: 29.7cm;
	/* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
    color:var(--senary);

}


main > div {
    font-size: .9rem; display:grid;
} 


h1, h2, h3, h4, h5, ul, li {
    margin:0;
    padding:0;
  
}

h1 {
    font-size:36px;
}

.intro {

    height:auto;
}

.intro > h1{
    margin:6px 6px 0px;
}
.intro > h2{
    margin:0px 6px 6px;
}
  
.cover {
    background-color: var(--primary);
    padding:18px;
    color:#ffffff;
    border-radius: 5px;
    font-size:16px;
    line-height:20px;
}

.cover > p {
    margin:5px 5px 0px 5px;
    text-indent: 50px;
}

.contact{
    background-color: var(--tertiary);
    height:auto;
    border-radius: 5px;
    margin-top:4px;
}

.contact > ul {
    list-style:none;
    display:flex;
    margin:auto;
    padding: 7px 4px 7px 2px;
   
}

.contact > ul > li {
    font-size:16px;
    display:flex;

}

.contact > ul > li > i {
   margin:auto;

 }

.contact > ul > li > p{
   margin:auto;
   padding-left:10px;
   padding-right:20px;
 
}


 .body {
    display:grid;
    grid-template-columns: 65% 35%;
 }



.work_experience {
    padding:10px;
}

.title {
    display:flex;
    font-size:20px;
   
}

.title > h2 {
    margin:auto 10px;
    padding:auto;

}

.iconWrapper{
	display: table;
	width: 45px; height: 45px; 
	background-color: var(--secondary);
	border-radius: 999px;
    border:var(--tertiary) 2px solid; 
   
}

.iconWrapper i {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
     
}

.card {
    margin-top:15px;  
 }

 .card > h2 {
    margin:0;
    font-size:20px;
    
 }

 .card > h3 {
    margin: 1px auto;
    font-size:16px;
    /* text-decoration: underline; */
 }



.accent_box{
    display:flex;
    color:var(--tertiary);
    justify-content: space-between;
    margin:5px auto;
    font-size:12px;
}

.time_in {
    padding-top: 5px;
    font-size:13p
}

.listdiv {
    padding-left:15px;
  

}

.listdiv > ul > li {
    font-size:14px;
    list-style-type:circle;
    margin:2px auto;
}


.skills {
    background-color: var(--secondary);
    height: 200px;
    margin-top:4px;
    padding:5px;
    height:23cm;
    border-radius: 5px;
 }

.iconWrapper2{
	display: table;
	width: 35px; height: 35px; 
	background-color: var(--primary);
	border-radius: 999px;
   
}
.iconWrapper2 i {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    color:var(--quaternary);

}

.title_2 {
    display:flex;
    font-size:16px;
    padding-left:10px ;
    padding-top:5px ;
}

.title_2 > h2 {
    margin:auto 10px;
    padding:auto;

}

.box{
    background-color: var(--quaternary);
    padding:10px;
    border-radius:2px;
    font-size:12px;
    color:black;
    margin-left:4px;
   
}

.expbox {
    margin:10px;
}

.ex1, .ex2, .ex3 {
   
    display: grid;
    grid-template-columns: auto auto;
    justify-content:flex-start; 
    padding:6px;
    gap:5px;
}

.techSkills {
    margin:1rem;
}

.techSkills > P {
    font-size:12px;
    text-indent: 15px;
}

.education {
    margin:1rem;
}

.time_in {
    color:var(--tertiary)
}

.education > h5 {
    padding-top:5px;
}

.interests {
    display: grid;
    grid-template-columns: auto auto;
    justify-content:flex-start; 
    gap:15px;
    margin-top:15px;
}

.interests > div {
    display:flex;
    font-size:18px;
    margin-left:1rem;
  
}

.interests > div > span {
    margin-top:auto;
    margin-bottom:auto;

}

.interests > div > p {
    margin:5px 8px;
}

.interests > div> span > i {
    color:var(--tertiary);
}
